<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fullname</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(const user of users){ %>
      <tr>
        <th scope="row">1</th>
        <td>
          <%= user.fullname %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.role %>
        </td>
        <td>
          <form action="/user/<%= user._id %>/delete" method="POST">
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
  </tbody>
</table>

<% if(page){ %>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link <%= page == 1 ? 'disabled' : '' %>" href="/user?page=<%= parseInt(page)-1 %>&perPage=<%= perPage %>">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#"><%= page %></a></li>
    <li class="page-item">
      <a class="page-link <%= page == totalPage ? 'disabled' : '' %>" href="/user?page=<%= parseInt(page)+1 %>&perPage=<%= perPage %>">Next</a>
    </li>
  </ul>
</nav>
<% } %>